body{font-family: 'Poppins', sans-serif; margin: 0px;}
h1{font-size: 40px;}
p{margin: 30px 0px}

.crimson{color: crimson;}
section{display: flex; margin: 50px;}
.half-width{
  width: 50%; padding-left: 15%;
}
.half-width img{
  width: 60%;
}
.link-button{ text-decoration: none; background-image: linear-gradient(green, black);
padding: 15px 20px; font-weight: 700; border-radius: 15%; 
 color: white; margin: 100px 0 0 0;}

.about-me img{width: 50%; height: 100%;padding-left: 35%;}
.about-me{ width: 40%; padding-right: 90px; text-align: justify;}
.background{
  background-image: url(food/images/shapes/01.png); background-repeat: no-repeat;
  background-position-x:70%;
}
.my-recipies{ text-align: center;}
